{{ define "main" }}

  <h1>404 Not Found</h1>
  <p>The page you requested cannot be found.</p>
  <p>
    <a href="{{ .Site.Home.RelPermalink }}">
      Return to the home page
    </a>
  </p>
  <script>
    window.onload = function () {
      if (/^\/FSHOnline(\/|$)/i.test(window.location.pathname)) {
        // redirect to the new location of courses
        const newLocation = `https://fshonline.chrism.org${window.location.pathname.replace(/^\/FSHOnline/i, '')}${window.location.hash || ''}`;
        console.log(`Redirect to ${newLocation}`);
        window.location.replace(newLocation);
      } else if (/^\/(courses|fsh-finder)(\/|$)/i.test(window.location.pathname)) {
        // redirect to the new location of courses or fsh-finder
        const newLocation = `https://fshschool.github.io${window.location.pathname}${window.location.hash || ''}`;
        console.log(`Redirect to ${newLocation}`);
        window.location.replace(`https://fshschool.github.io${window.location.pathname}${window.location.hash || ''}`);
      }
    }
  </script>

{{ end }}